<h1> Stupid Coaching </h1>

<div class = "card">
<p><em> <%= @question %> </em></p>
<p> -You </p>
</div>

<div class = "card" id = "answer">
  <p><em> <%= @answer %> </em></p>
  <p> -Your coach </p>
</div>

<%= link_to "Ask a new question", ask_path %>
